---
import Layout from '../layouts/base.astro'
import slugify from 'slugify'

export async function getStaticPaths() {
  // TODO: generate pages for each galaxy
  return []
}

const { title, description, imageUrl, credits } = Astro.props

---
<Layout title={title} author={credits}>
  <main>
    <img class="image" src={imageUrl} alt={title}>
    <p>{description}</p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    max-width: 800px;
  }
  .image {
    max-width: 100%;
    background: black;
  }
</style>